body {
    font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #D81B60;
    color: #ffffff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-bottom: 60px;   
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
}

button[type="submit"]:hover {
    background-color: #555;
}

.btnAnterior,
.btnSiguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
    border-radius: 6px;
    margin: 5px;
}

.btnAnterior {
    left: 0;
}

.btnSiguiente {
    right: 0;

}

.carru{
    background-color: #e021217a;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.carruContenido {
    width: 800px;
    height: 400px;
    background-color: #D81B60;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carruImgs {
    width: 100%;
    height: 100%;
    display: flex;   
}

.carruImgs img {
    width: 100%;
    height: 100%;
}

.btnAnterior:hover,
.btnSiguiente:hover {
	background-color: rgba(0, 0, 0, 0.9);
}

.cuerpo{
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}